@import "./base.less";
@import "./variable.less";

.home { width: 100%; display: flex; flex-direction: column; background-color: white; overflow-x: hidden;
    .banner { width: 100%; height: 80px; padding: 0 20px; border-top: 1px solid @cBg; border-bottom: 1px solid @cBg; top: 80px; position: sticky; display: flex; align-items: center; justify-content: center; background-color: white; z-index: 9;
        @media screen and (min-width: @sD) { height: 150px; }
        h2 { text-align: center; font-size: @fXXL; font-weight: bold;
            @media screen and (min-width: @sD) { font-size: @fXXXL; }}}
    .scroll { scroll-margin-top: 160px;
        @media screen and (min-width: @sD) { scroll-margin-top: 230px; }}
    .researches { width: 100%; gap: 2px; display: flex; flex-direction: column;
        a { width: 100%; aspect-ratio: 21/9; padding: 0 20px; position: relative; display: flex; align-items: center; justify-content: space-between; overflow: hidden;
            @media screen and (min-width: @sD) { aspect-ratio: 32/9; }
            span { max-width: 120px; font-size: @fXL; color: white; z-index: 1;
                @media screen and (min-width: @sD) { max-width: unset; font-size: @fXXXL; }}
            .arrow { height: 50px; z-index: 1; }
            .bg { width: 100%; height: 100%; top: 0; left: 0; position: absolute; transition: transform .2s;
                @media screen and (min-width: @sD) {
                    &:hover { transform: scale(1.1); }}}}}
    .portfolios { width: 100%; padding-left: 2px; gap: 2px; display: flex; flex-wrap: wrap;
        .category { width: calc(100% - 2px); height: 80px; padding: 20px; position: relative; display: flex; flex-direction: row; align-items: center; justify-content: space-between; background-color: @cBg;
            @media screen and (min-width: @sD) { width: calc(50% - 2px); height: unset; flex-direction: column; align-items: flex-end; }
            .title { width: 90%; margin-right: auto; text-align: left; font-size: @fXL; color: @cG1;
                @media screen and (min-width: @sD) { margin-right: unset; text-align: right; }}
            .icon { width: 50px; margin-right: auto;
                @media screen and (min-width: @sD) { width: 30%; }}
            .arrow { display: none; width: 30px; top: 50%; right: 0; transform: translate(0, -50%); position: absolute;
                @media screen and (min-width: @sD) { display: flex; }}}
        .portfolio { width: calc(50% - 2px); display: flex; overflow: hidden;
            img { width: 100%; transition: transform .2s;
                @media screen and (min-width: @sD) {
                    &:hover { transform: scale(1.1); }}}}
        @media screen and (min-width: @sD) {
            .category, .portfolio { width: calc(20% - 2px); }}}
    .map { width: 100%; max-height: 50vh; position: relative; display: flex; flex-direction: column;
        h2 { top: 60px; left: 50%; transform: translate(-50%, -50%); position: absolute; font-size: @fXXL; white-space: nowrap; color: white;
            @media screen and (min-width: @sD) { top: 75px; font-size: @fXXXL; }}
        img { width: 100%; height: calc(70vh - 150px); }}
    .contact { width: 100%; height: calc(70vh - 150px); padding: 0 20px; display: flex; align-items: center; justify-content: space-around; background-color: white;
        img { display: none; width: 50%;
            @media screen and (min-width: @sD) { display: flex; }}
        form { width: 100%; gap: 30px; display: flex; flex-direction: column;
            .title { font-size: @fXXL; font-weight: bold; }
            .heading { margin-bottom: -20px; }
            .subject { width: 100%; height: 50px; padding: 15px; border-radius: 15px; background-color: @cBg; }
            .content { width: 100%; height: 50px; min-height: 50px; padding: 15px; border-radius: 15px; background-color: @cBg; }
            .submit { width: 100px; height: 50px; border-radius: 15px; background-color: @cG1; color: white; }}}}