@import "./base.less";
@import "./variable.less";

.home { width: 100%; display: flex; flex-direction: column; background-color: @cWhite; overflow-x: hidden;
    .banner { width: 100%; height: 80px; padding: 0 20px; /* border-top: 1px solid @cBg; border-bottom: 1px solid @cBg; */ top: 80px; /* position: sticky; */ display: flex; align-items: center; justify-content: center; z-index: 9;
        @media screen and (min-width: @sD) { height: 100px; }
        h2 { text-align: center; font-size: @fXXL; font-weight: bold;
            @media screen and (min-width: @sD) { font-size: @fXXXL; }}}
    .scroll { scroll-margin-top: 160px;
        @media screen and (min-width: @sD) { scroll-margin-top: 180px; }}
    .animation { width: 100%; height: auto; max-height: 80vh; display: none; align-items: center; justify-content: center; overflow: hidden; background: linear-gradient(172deg, rgba(255, 254, 250, 0.70) 41.14%, rgba(173, 129, 0, 0.11) 141.61%);
        video { width: auto; height: 100%; }}
    .about { width: 100%; padding: 20px; display: flex; align-items: center; flex-direction: column;
        @media screen and (min-width: @sD) { flex-direction: row; }
        > * { width: 100%;
            @media screen and (min-width: @sD) { width: 50%; }}
        .image { aspect-ratio: 1/1; display: flex; align-items: center; justify-content: center; overflow: hidden;
            img { width: 100%; transform: translateX(0px) translateY(0px); }}
        > div { gap: 20px; display: flex; flex-direction: column;
            .title { gap: 10px; display: flex;
            > * { font-size: @fXXL; font-weight: bold;
                @media screen and (min-width: @sD) { font-size: @fXXXL; }}}
            h2 { margin-top: 20px; font-size: @fXL; font-weight: bold; color: @c1;
                @media screen and (min-width: @sD) { font-size: @fXXL; } }
            h3 { font-weight: unset; }
            td { padding-bottom: 10px; }
            a { width: 100%; height: 50px; border-radius: 15px; display: flex; align-items: center; justify-content: center; background-color: @c1; color: @cG1; font-weight: bold;
                @media screen and (min-width: @sD) { width: 150px; }}}}
    .researches { width: 100%; padding-left: 2px; gap: 2px; display: flex; flex-wrap: wrap;
        a { width: 100%; aspect-ratio: 21/9; padding: 0 20px; position: relative; display: flex; align-items: center; justify-content: space-between; overflow: hidden;
            @media screen and (min-width: @sD) { width: calc(50% - 2px); }
            p { max-width: 120px; font-size: @fXL; color: white; z-index: 1;
                @media screen and (min-width: @sD) { max-width: 150px; font-size: @fXXL; }}
            .arrow { height: 50px; z-index: 1; }
            .bg { width: 100%; height: 100%; top: 0; left: 0; position: absolute; transition: transform .2s;
                @media screen and (min-width: @sD) {
                    &:hover { transform: scale(1.1); }}}}}
    .portfolios { width: 100%; padding-left: 20px; gap: 20px; display: flex; flex-wrap: wrap;
        .category { width: calc(100% - 20px); height: 80px; padding: 20px; border-radius: 20px; position: relative; display: flex; flex-direction: row; align-items: center; justify-content: space-between; background-color: @cBg;
            @media screen and (min-width: @sD) { width: calc(50% - 20px); height: unset; flex-direction: column; align-items: flex-end; }
            .title { width: 90%; margin-right: auto; text-align: left; font-size: @fXL; color: @cG1; font-weight: unset;
                @media screen and (min-width: @sD) { margin-right: unset; text-align: right; }}
            .icon { width: 50px; margin-right: auto;
                @media screen and (min-width: @sD) { width: 30%; }}
            .arrow { display: none; width: 30px; top: 50%; right: 0; transform: translate(0, -50%); position: absolute;
                @media screen and (min-width: @sD) { display: flex; }}}
        .portfolio { width: calc(50% - 20px); border-radius: 20px; display: flex; overflow: hidden;
            img { width: 100%; transition: transform .2s;
                @media screen and (min-width: @sD) {
                    &:hover { transform: scale(1.1); }}}}
        @media screen and (min-width: @sD) {
            .category, .portfolio { width: calc(20% - 20px); }}}
    .team { padding: 50px 20px; display: flex; flex-direction: column; align-items: center;
        .member { gap: 50px; display: flex; flex-direction: column; align-items: center;
            @media screen and (min-width: @sD) { flex-direction: row; }
            .profile { width: 350px; height: 350px; border-radius: 999px; }
            .infos { width: 100%; display: flex; flex-direction: column;
                .title { font-size: @fXL; font-weight: bold; }
                .name { font-size: @fXXXL; font-weight: bold; }
                ol { padding-left: 30px; margin-top: 20px;
                    * { font-size: @fXL; font-style: italic; }
                    li { margin-bottom: 10px; }
                    .sub { color: @cG3; }}}
            .stamps { gap: 10px; display: flex; flex-direction: row;
                @media screen and (min-width: @sD) { flex-direction: column; }
                a { width: 150px; height: 150px; border-radius: 25px; display: flex; align-items: center; justify-content: center; background-color: @cBg; 
                 img { width: 130px; height: 130px; object-fit: contain; }}}}}
    .map { width: 100%; max-height: calc(70vh - 80px); display: flex; overflow: hidden;
        img { width: 100%; transform: translateX(0px) translateY(0px); }}
    .contact { width: 100%; min-height: calc(70vh - 80px); padding: 0 20px 100px; display: flex; align-items: center; justify-content: space-around; flex-direction: column; overflow: hidden;
        @media screen and (min-width: @sD) { flex-direction: row; }
        .image { width: 100%; display: flex;
            @media screen and (min-width: @sD) { width: 40%; }
            img { width: 100%; transform: translateX(0px) translateY(0px); }}
        > div:not(.image) { width: 100%; gap: 30px; display: flex; flex-direction: column;
            @media screen and (min-width: @sD) { width: 60%; }
            h2 { margin-top: 20px; font-size: @fXL; font-weight: bold; color: @c1;
                @media screen and (min-width: @sD) { font-size: @fXXL; }}
            .socials { width: 100%; gap: 20px; display: flex; flex-direction: column; align-items: center;
                @media screen and (min-width: @sD) { height: 150px; flex-direction: row; }
                .social { width: 100%; height: 100%; padding: 15px; border-radius: 15px; display: flex; flex-direction: column; align-items: center; justify-content: center; background-color: @cBg;
                    img { height: 60px; margin-bottom: 2px; }
                    p { font-size: @fS; text-align: center; }}}
            .divider { width: 100%; gap: 20px; display: flex; align-items: center; justify-content: center;
                div { width: 20%; height: 2px; border-radius: 99px; background-color: @cBg; }
                p { font-size: @fM; color: @cG3; }}
            form { width: 100%; gap: 30px; display: flex; flex-direction: column;
                .heading { margin-bottom: -20px; }
                .subject { width: 100%; height: 50px; padding: 15px; border-radius: 15px; background-color: @cBg; }
                .content { width: 100%; height: 50px; min-height: 50px; padding: 15px; border-radius: 15px; background-color: @cBg; }
                .submit { width: 100%; height: 50px; border-radius: 15px; background-color: @c1; color: @cG1; font-weight: bold;
                    @media screen and (min-width: @sD) { width: 100px; }}}}}
    .footer { padding: 50px; display: flex; align-items: center; justify-content: center;
        a { width: 50px; height: 50px; border-radius: 50px; display: flex; align-items: center; justify-content: center; background-color: @cBg; color: @cG1; font-weight: bold; }}}